---
// Components
import MainLayout from "../../layouts/MainPageLayout.astro"
import PostCard from "../../components/PostCard.astro"

// Utils
import {slugify, formatBlogPosts} from "../../js/utils"

export async function getStaticPaths() {
  const allPosts = await Astro.glob("../blogs/*.md");
  const formattedPosts = formatBlogPosts(allPosts);
  const allAuthors = [
    ...new Set(formattedPosts.map((post) => post.frontmatter.author).flat()),
  ];
  return allAuthors.map((author) => {
    const authorPosts = formattedPosts.filter(
      (post) => post.frontmatter.author === author
    );
    return {
      params: { author: slugify(author) },
      props: {
        authorName: author,
        posts: authorPosts,
      },
    };
  });
}

const { author } = Astro.params;
const { posts, authorName } = Astro.props;

---
<MainLayout title={authorName}>
    <div class="flex justify-center">
      <h1 class="text-6xl font-bold m-4 mt-20">Posts by {authorName}</h1>
    </div>
    <div class="flex justify-center">
      <ul class="text-center">
        {posts.map((post) => <PostCard frontmatter={post.frontmatter} url={post.url}/>)}          
      </ul> 
    </div>    
  </MainLayout>