---
import MainLayout from "../layouts/MainPageLayout.astro"

---

<MainLayout title={"About Us"}>
    <section class="m mx-24">
        <div class="min-w-full items-center p-10">
            <img class="shadow-2xl rounded-full justify-center inline-block m-4" src="/images/headshot.jpg" width="200">
            <h1 class="inline-block text-7xl font-bold m-10 p-2">My Blog</h1>
        </div>
        <p class="indent-8 text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, laboriosam voluptate! Adipisci quo doloremque reprehenderit iusto velit nihil, voluptas molestiae voluptatibus suscipit soluta delectus obcaecati nesciunt cupiditate eligendi eaque dolor ab sed excepturi nulla reiciendis optio ut. Sint sunt rerum totam error deleniti recusandae ipsam dicta, numquam ea expedita. Ea, assumenda? Placeat illum deserunt laboriosam voluptatum repellendus impedit, porro vitae cum. Beatae impedit, mollitia sunt ipsa expedita ratione sequi inventore, asperiores officiis nulla ad voluptates debitis saepe quo illum? Inventore eum voluptas consequuntur adipisci consequatur! Est delectus unde aliquam nam obcaecati esse rem quae nesciunt? Rem laudantium earum nesciunt itaque?    
        </p>
        <br/>
        <p class="indent-8 text-justify">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia aliquam excepturi sapiente ullam quod pariatur quis porro beatae aliquid, ratione quisquam aperiam esse ipsa labore animi alias, laboriosam doloremque impedit illo totam delectus facilis. Corrupti obcaecati laborum omnis dolores quaerat laudantium qui? Temporibus impedit mollitia dolores ullam ipsa libero incidunt! Corporis enim voluptate praesentium, eum maxime sunt ea ipsum totam et molestiae minus accusamus, commodi adipisci illo ad saepe ipsa blanditiis aspernatur! Optio vero sequi ipsum possimus rerum porro, suscipit quam perspiciatis quos temporibus odio dignissimos alias ab recusandae qui accusantium, ducimus neque? Amet, adipisci beatae. Iure quaerat veniam libero provident explicabo? Ut natus mollitia, maxime adipisci ea distinctio quia fugiat dolorem eaque modi commodi? Obcaecati laborum consequatur cumque in, corrupti voluptate suscipit illum possimus molestiae qui, at explicabo saepe ipsam magnam vel odio dolorem. Culpa eligendi harum quibusdam, ad ducimus quas eaque animi? A ratione quam vitae nam rem, provident iusto. Dignissimos nostrum alias totam iure aliquid sint voluptas est unde provident, doloremque saepe expedita delectus harum, quae, quo qui tempora maiores asperiores. Quia, vitae eaque necessitatibus, maxime qui soluta perferendis unde dolorem similique nostrum incidunt. Nam, illum. Autem modi, tenetur quisquam minima nesciunt quibusdam expedita quo. Similique, unde.
        </p>
        <br/>
        <a href="mailto:holderhereinplace@gmail.com" target="_blank" rel="noopener noreferrer" class="p-2 m-2 bg-black text-white rounded-lg self-center">
            ✉ Email Me!
        </a>
        <footer class="my-24"/>
    </section>
</MainLayout>